# LAB | Ensemble Methods

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In this Lab, you should try different ensemble methods in order to see if can obtain a better model than before. In order to do a fair comparison, you should perform the same feature scaling, engineering applied in previous Lab.

In [1]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor,AdaBoostRegressor, GradientBoostingRegressor

from sklearn.preprocessing import MinMaxScaler, StandardScaler
#from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, root_mean_squared_error

In [3]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()
#spaceship.shape

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
spaceship.dropna(inplace=True) 
spaceship.isna().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

Now perform the same as before:
- Feature Scaling
- Feature Selection

In [5]:
x= spaceship.select_dtypes('number')
if 'Transported' in x.columns:
    x = x.drop('Transported', axis=1)
y = spaceship['Transported']

#df= pd.concat([x,y], axis= 1)

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [7]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

normalizer = MinMaxScaler()
normalizer.fit(X_train)

scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler()

In [8]:
X_train_norm_np = normalizer.transform(X_train)
X_test_norm_np = normalizer.transform(X_test)

X_train_norm_df = pd.DataFrame(X_train_norm_np, columns = X_train.columns, index=X_train.index)
display(X_train_norm_df.head())

X_test_norm_df = pd.DataFrame(X_test_norm_np, columns = X_test.columns, index=X_test.index)
display(X_test_norm_df.head())

           Age  RoomService  FoodCourt  ShoppingMall       Spa    VRDeck
3432  0.405063      0.00000   0.000000      0.000000  0.000000  0.000000
7312  0.050633      0.00000   0.000000      0.000000  0.000000  0.000000
2042  0.379747      0.00000   0.007916      0.000000  0.051276  0.000000
4999  0.215190      0.00131   0.000000      0.046111  0.016378  0.000049
5755  0.329114      0.00000   0.000000      0.000000  0.000000  0.000000

           Age  RoomService  FoodCourt  ShoppingMall      Spa  VRDeck
2453  0.632911          0.0   0.000000           0.0  0.00000     0.0
1334  0.227848          0.0   0.000000           0.0  0.00000     0.0
8272  0.189873          0.0   0.000000           0.0  0.00000     0.0
5090  0.658228          0.0   0.000000           0.0  0.00000     0.0
4357  0.784810          0.0   0.054775           0.0  0.07774     0.0

In [9]:
X_train_standarized_np = scaler.transform(X_train)
X_test_standarized_np = scaler.transform(X_test)

X_train_standarized_df = pd.DataFrame(X_train_standarized_np, columns = X_train.columns, index=X_train.index)
X_test_standarized_df  = pd.DataFrame(X_test_standarized_np, columns = X_test.columns, index=X_test.index)

X_train_standarized_df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,5.284000e+03,5.284000e+03,5.284000e+03,5.284000e+03,5.284000e+03,5.284000e+03
mean,-1.131654e-16,2.921899e-16,3.620149e-16,4.790516e-16,9.453915e-17,-3.721054e-16
std,1.000095e+00,1.000095e+00,1.000095e+00,1.000095e+00,1.000095e+00,1.000095e+00
min,-1.979531e+00,-3.470463e-01,-2.820994e-01,-3.058919e-01,-2.715430e-01,-2.711225e-01
25%,-6.732540e-01,-3.470463e-01,-2.820994e-01,-3.058919e-01,-2.715430e-01,-2.711225e-01
50%,-1.232425e-01,-3.470463e-01,-2.820994e-01,-3.058919e-01,-2.715430e-01,-2.711225e-01
75%,6.330232e-01,-2.709066e-01,-2.315362e-01,-2.515150e-01,-2.172822e-01,-2.236418e-01
max,3.451832e+00,1.506736e+01,1.724626e+01,2.051536e+01,1.902807e+01,1.728467e+01

**Perform Train Test Split**

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor,AdaBoostRegressor, GradientBoostingRegressor
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

**Model Selection** - now you will try to apply different ensemble methods in order to get a better model

- Bagging and Pasting

In [30]:
# Bagging Classifier
bagging = BaggingClassifier(n_estimators=100, random_state=0, bootstrap=True)
bagging.fit(X_train_standarized, y_train)

# Predictions
y_pred_bagging = bagging.predict(X_test_standarized)

# Accuracy
acc_bagging = accuracy_score(y_test, y_pred_bagging)
print(f"Bagging Classifier Accuracy: {acc_bagging:.4f}")

NameError: name 'BaggingClassifier' is not defined

- Random Forests

In [29]:
from sklearn.ensemble import RandomForestClassifier

# Random Forest Classifier
rf = RandomForestClassifier(n_estimators=100, random_state=0)
rf.fit(X_train_standarized, y_train)

# Predictions
y_pred_rf = rf.predict(X_test_standarized)

# Accuracy
acc_rf = accuracy_score(y_test, y_pred_rf)
print(f"Random Forest Accuracy: {acc_rf:.4f}")

NameError: name 'X_train_standarized' is not defined

- Gradient Boosting

In [14]:
from sklearn.ensemble import GradientBoostingClassifier

# Gradient Boosting Classifier
gb = GradientBoostingClassifier(n_estimators=100, random_state=0)
gb.fit(X_train_standarized, y_train)

# Predictions
y_pred_gb = gb.predict(X_test_standarized)

# Accuracy
acc_gb = accuracy_score(y_test, y_pred_gb)
print(f"Gradient Boosting Accuracy: {acc_gb:.4f}")

- Adaptive Boosting

In [15]:
#your code herefrom sklearn.ensemble import AdaBoostClassifier

# AdaBoost Classifier
ada = AdaBoostClassifier(n_estimators=100, random_state=0)
ada.fit(X_train_standarized, y_train)

# Predictions
y_pred_ada = ada.predict(X_test_standarized)

# Accuracy
acc_ada = accuracy_score(y_test, y_pred_ada)
print(f"AdaBoost Accuracy: {acc_ada:.4f}")

Which model is the best and why?

In [16]:
#comment here